.env
.cursor
.venv
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
.idea
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
.idea
.pytest_cache
/srsRAN_Project-main
/shared
/common_templates
/openairinterface-5g
/resources